*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: serif;
}
.main{
    width: 100%;
    background-color:#7431FA;
    height:70px;
    display: flex;
}
.lef{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.icon{
    margin-left: 10px;

}
.info{
    /* border:1px red solid; */
    display: flex;
}
.info ul{
    display: flex;
    gap:11px;
    align-items: center;
    height: 70px;
}
.middle{
    display: flex;
    align-items: center;
    margin-left:100px ;
    height: 40px ;
    background-color:#5725BB;
    gap:10px;
    margin-top: 17px;
    border-radius: 2px ;
    /* border: 2px red solid; */
}
.middle input{
    height: 30px ;
    background-color: #0ce270;

    /* background-color: rgb(120, 57, 197); */
    border: none;
    outline:none;
    
}
.middle button{
    border:none;
    width: 50px;
    margin: 2px;
    border-radius: 2px;
    background-color: rgb(67, 49, 167);
}
.right{
    display: flex;
    justify-content: flex-end;
    justify-items:center;
    /* border:1px red solid; */
    width:50%;
    font-size: 20px;
}
.right li{
    /* height: 60px; */
    margin-top: 25px;
    margin-right: 20px;
    /* background-color: tomato; */
}
.right li:hover{
  color: white;
}
.middle:hover{
    box-shadow: 0px 0px 4px 1px rgb(139, 44, 44);

}
.lef a:hover{
  color:white;
}
.section{
    width: 100%;
    height: 550px;
    background-color: rgb(138, 160, 180);
}
.section1{
    width: 100%;
    background-color:  #B5D3FF;
    /* margin-top:20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:20px;
}
.section p{
    text-align: center;
    width: 500px;
    font-size: 30px;
}
.section a{
  margin-top: 30px;
  /* border:2px black solid; */
  height: 20px;
  padding: 10px 10px;
  width: 400px;
  background-color:#FFE484;
  border-radius: 30px;
  color:black;
}